animatplot==0.4.3
certifi==2024.12.14
charset-normalizer==3.4.1
contourpy==1.3.1
cycler==0.12.1
decorator==4.4.2
fonttools==4.55.7
idna==3.10
imageio==2.37.0
imageio-ffmpeg==0.6.0
kiwisolver==1.4.8
matplotlib==3.7.1
moviepy==1.0.3
numpy==1.26.4
packaging==24.2
pillow==11.1.0
proglog==0.1.10
pyparsing==3.2.1
python-dateutil==2.9.0.post0
requests==2.32.3
scipy==1.15.1
six==1.17.0
tqdm==4.67.1
urllib3==2.3.0
